CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vs/
[Bb]uild/
.vs/assignment-3-the-housing-estate-PG3447/FileContentIndex/1dc308ed-2886-453e-b700-519d2d5a7f4e.vsidx
.vs/assignment-3-the-housing-estate-PG3447/FileContentIndex/1dc308ed-2886-453e-b700-519d2d5a7f4e.vsidx
.vs/assignment-3-the-housing-estate-PG3447/FileContentIndex/7eb237d4-6847-4170-86af-bf7580354272.vsidx
/.vs
